* {
    margin: 0px;
    padding: 0px;
}

/* common sheard */
body {
    font-family: 'Lato', sans-serif;
    font-family: 'Open Sans', sans-serif;
}

.section-title {
    color: #272727;
    text-align: center;
    font-size: 40px;
    font-weight: 800;
}

.section-description {
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 18px;

}

.banner-btn {
    border-radius: 8px;
    background: #E55473;
    border: 0;
    color: white;
    font-size: 20px;
    /* font-weight: 700; */
    padding: 20px 40px;
}

.banner {
    padding: 50px 200px 0px 200px;
    display: flex;
    align-items: center;
    background: rgba(229, 84, 115, 0.10);

}

.banner-content {
    padding-right: 95px;
}

.banner-title {
    color: #272727;
    font-size: 80px;
    font-weight: 800;
}

.banner-message {
    padding-top: 32px;
    padding-bottom: 32px;
    font-size: 18px;
    color: rgba(39, 39, 39, 0.60);
    font-weight: 400;
}

.banner .banner-img {
    width: 600px;
    height: 700px;
}

/* main section */

/* hot deal */
.hot-deal-content {
    padding: 50px 200px 0px 200px;
    display: flex;
    align-items: center;
    border-radius: 8px;
    background: rgba(229, 84, 115, 0.05);

}

.hot-deal-text {
    text-align: center;
    /* padding-right: 95px; */
}

.hot-deal-title {
    color: #272727;
    font-size: 40px;
    font-weight: 800;
    padding-bottom: 24px;
}

.tittle-part {
    color: #E55473;
}

.hot-deal-description {
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
    padding-bottom: 32px;
}

.hot-deal-img {
    width: 300px;
    height: 400px;
    padding-top: 100px;
    padding-bottom: 100px;
    padding-left: 240px;
}

/* instagram */
.instagram {
    padding: 100px;
}

#instagram-description {
    padding-top: 24px;
    padding-bottom: 48px;
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 18px;
    font-weight: 400;
}

.insta-img {
    padding-right: 24px;
    width: 342px;
    height: 396px;
}

/* Get The Latest Deals */
.Latest-Deals-content {
    background-image: url('./Rectangle9.png');
}

.input-email {
    width: 700px;
    height: 64px;
    border: 0;
    border-radius: 8px;
    background: #FFF;
    color: rgba(39, 39, 39, 0.60);
    
    font-size: 16px;
    font-weight: 400;
}

.submit-btn {
    border-radius: 8px;
    background: #E55473;
    border: 0;
    color: white;
    font-size: 20px;
    /* font-weight: 700; */
    padding: 20px 40px;
}
.input-session{
    text-align: center;
}