* {
    margin: 0px;
    padding: 0px;
}
/* common sheard */
body{
    font-family: 'Open Sans', sans-serif;
}
.banner-btn {
    border-radius: 8px;
    background: #E55473;
    border: 0;
    color: white;
    font-size: 20px;
    font-weight: 700;
    padding: 20px 40px;
}
.banner{
    padding: 50px 50px 50px 200px;
    display: flex;
    align-items: center;
    background: rgba(229, 84, 115, 0.10);

}
.banner-content{
    padding-right: 95px;
}
.banner-title{
    font-size: 75px;
}
.banner-message{
    padding-top: 32px;
    padding-bottom: 32px;
    font-size: 18px;
    color: rgba(39, 39, 39, 0.60);
}
.banner .banner-img{
    width: 600px;
}
